# Python
__pycache__/
*.py[cod]
*.pyo
backend/venv/
.venv/
*.egg-info/

# Database
backend/db.sqlite3

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.pem
